# SPDX-FileCopyrightText: 2026 VekarisWesion <vekaris@zohomail.com>
# SPDX-FileContributor: VekarisWesion <vekaris@zohomail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

build/
bin/

# Qt Creator / IDE user files
.qtcreator/
CMakeLists.txt.user
CMakeLists.txt.user.*
*.user
*.user.*
.vscode/
